@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
}

.prose pre {
  background-color: #f8fafc;
  border: 1px solid #e2e8f0;
}